<div class="card">
    <div class="card-header" >
        Contact
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="card-body">
                <div class="container-fluid">
                    <p align="center">Phone Number : 9971158174 </p>
                    <p align="center">Email : abhinayjoshi07@gmail.com</p>
                </div>
                <div class="text-center">
                    <a href="https://github.com/abhinayjoshi">GitHub</a><br>
                    <a href="https://www.linkedin.com/in/abhinayjoshi/">LinkedIn</a>
                </div>

      <div class="text-center">
        <a href="https://ibb.co/bQBzLVK">Resume</a>
    </div>
        </div>
    </div>
</div>
